[Unit]
Description=DriveAssist
After=network.target

[Service]
Type=forking
WorkingDirectory=/home/pi/driverAssist
ExecStart=/home/pi/.dotnet/dotnet /home/pi/driverAssist/pi.job.worker.driveAssist.dll
StandardOutput=inherit
StandardError=inherit
Restart=always
RemainAfterExit=yes
User=pi

[Install]
WantedBy=multi-user.target